.gameList {
    color: rgb(158, 158, 163);
}

.btn {
    background-color: #5b5b5b;
    color: white;
    max-width: 500px;
}

.btn:hover {
    box-shadow: 3px 3px 0 #000;
    background-color: #3a3a3a !important;
    color: #ada59c !important;
}